<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hi..</h1>
    <form action="/signup" method="post">

        <input type="text" name="fname" placeholder="fname">
        <input type="text" name="lname" placeholder="lname">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <button type="submit">sign up</button>
    </form>
</body>

</html>